{% extends "bootstrap/base.html" %}	
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Signup
{% endblock %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for( '.static', filename='Signup.css') }}" >
{% endblock %}

{% block content %}
  
    <div >
        <form method="POST" action="/Signup"  >
          <h1>Enter your text here!</h1>
          <div class="container" style="max-width: 300px" >
            {{ form.hidden_tag() }}
            <!-- {{ wtf.form_field(form.email) }} -->
            <!-- {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }} -->
            {{ wtf.form_field(form.inputtext) }}
            {{textarea}}
	        <button type="submit">Predict</button>

          </div>
        </form>
    </div>
{% endblock %}
